<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="menu-contact-book" order="-100" title="Address Book" icon="fa-book" icon-background="green"/>


  <menuitem name="menu-contact-config" parent="menu-contact-book"
    title="Configuration"/>


  <menuitem name="menu-contact-titles" parent="menu-contact-config"
    title="Titles"
    action="contact.title"/>

  <action-view name="contact.title" title="Title" model="com.axelor.contact.db.Title">
    <view type="grid" name="title-grid"/>
    <view type="form" name="title-form"/>
  </action-view>

</object-views>
